<html>
    <head>
        <style type="text/css">
            h1 {
                text-align: center;
            }

            h2 {
                text-align: center;
            }

            .add {
              text-align: center;
            }

            . {
                font-family: Georgia;
            }

            li {
              padding: 30px 30px;
              text-align: center;
            }

            ul {
              overflow: hidden;
              margin: 0;
              width: 100%;
              padding: 0;
              list-style-type: none;
            }
        </style>
    </head>

    <body>
        <h1>Output from 4 servers:</h1>
        <p>{{ out }}</p>
        
    </body>

</html>