<!DOCTYPE html>
<html>
  <head>
    <style>
      p{
        font-size: 0px;
      }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>WebXR demo</title>
    {{!-- importing latest a-frame --}}
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    {{!-- importing a-frame module for forcing an object to look at another --}}
    {{!-- <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script> --}}
    {{!-- importing ar.js' a-frame build --}}
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script type="text/javascript">
    
    //run my_function every second
    setInterval("my_function();",1000); 
    function my_function(){
        //AJAX request for most recent variable data
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var myArr = JSON.parse(this.responseText);
                myArr.forEach(source => {
                  //update the text for each source with the most recent text
                  var t = document.getElementById(''+source.port);
                  t.setAttribute('value', ''+source.out);
              });
            }
        };
        xhttp.open("GET", "/sources", true);
        xhttp.send();
    }
    </script>
  </head>
  <body style='margin : 0px; overflow: hidden;'>
    {{!-- a-frame scene for the objects we place --}}
    {{!-- not VR, embedded allows us to fit other content on the webpage, register the webcam as a camera source, debug disabled --}}
    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >
        {{#each sources_array}}
            <a-marker type='pattern' url={{this.marker}}>
              <a-box
              scale="10 10 1"
              color={{this.color}}
              opacity=".8"
              smooth="true"
              >
              {{!-- id is given based on the port to allow us to iterate and replace text value --}}
                <a-text id ={{this.port}}
                    value="replace me pls"
                    {{!-- look-at="[camera]" --}}
                    scale=".1 .1 .1"
                    align="center"
                >
                </a-text>
              </a-box>
            </a-marker>
        {{/each}}
        {{!-- camera object --}}
      <a-entity camera> </a-entity>
    </a-scene>
  </body>
</html>